.loginButton{
    background: var(--blue-900);
    width: 9rem;
    height: 3rem;
    border-radius: 100px;
    border: none;
    font-size: .9rem;
    color: var(--gray-100);
    outline: none;
    transition: 0.3s;

    @media(max-width:600px){
        width: 6rem;
    }
    
    &:hover {
        color: var(--blue-900);
        border: 2px solid var(--blue-900);
        background: var(--gray-100);
        cursor: pointer;
        font-weight: 600;
    }

}