.mainContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(85vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: space-between;
     

    img {
        max-width: 500px;
        max-height: 300px;
    }

    @media (max-width: 800px){
    // utilizar media queries para fazer responsividade mobile
        img {
            max-width: 300px;
            max-height: 180px;
        }
    }
}

.sectionMainContainer {
    max-width: 1120px;

    > span {
        font-size: 1.5rem;
        font-weight: bold;
    }

    h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 600;
        margin-top: 2.5rem;
    }
        span{
          color: var(--blue-900);
          background: none;
          font-weight: 700;
    }
    p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;
        
        span{
            color: var(--cyan-500);
            font-weight: bold;
            background: none;
          }
    }

    button{
        margin-top: 2.5rem;
    }
}

.vantagensSection {
    
}

.vantagensSectionContainer {
    max-width: 1200px;
    max-height: 450px;


    height: 37rem;
    margin: 0 auto 0 auto;
    padding: 1rem;

    @media(max-width: 800px) {
        margin-left: .5rem;
        max-width: 800px;
        max-height: 100%;
        
    }
}

.vantagensContainer {
    width: 100%;
    height: 18rem;
    display: flex;
    
    flex-direction: row;

}

.vantagensTextContainer {
    idth: 100%;
    height: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  

    div {
       
        height: rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    p {

        margin-top: 2rem;
        font-size: 1.2rem;
        color: var(--gray-500);
        text-align: center;
    }
}

.vantagens {

    width: 33%;
    height: 100%;
    padding: 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    @media(max-width: 800px) {
     height: 120%;

        div {
          
            text-align: center;
        }
        p {
     
            margin-top: 2rem;
            font-size: .8rem;
            height: 15rem;
        }
    }

    div {
       
        font-size: 1.2rem;
        font-weight: 500;
        height: 3rem;
    }

    p {
       
        display: flex;
        justify-content: center;    
        text-align: center;
        color: var(--gray-500);
        margin-top: 2rem;
        height: 8rem;
    }
}

.vantagensTitle {
    height: 8rem;
}

.formSection {
    max-width: 1200px;
    max-height: 600px;


    display: flex;
    justify-content: center;
    align-items: center;
    height: 37rem;
    margin: auto;
    padding: 1rem;
    
}